Obj
External
Bin/x86/*.txt
Bin/x64/*.txt
*.PIXRun
*.opensdf
*.sdf
*.suo
*.pdb
*.exe
*.ilk
*.lib

*.nvuser

*.zip
/Protos/kd-tree-test/Library
/Protos/kd-tree-test/obj
/Protos/kd-tree-test/*.sln
/Protos/kd-tree-test/*.csproj
